body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

header {
    padding: 20px;
    text-align: center;
    background-color: #003c96;
    border-radius: 5px;
}

h1 {
    font-weight:bold;
    margin: 0;
    font-family: sans-serif;
}
h2 {
    margin: 0;
    font-style:italic;
}
main {
    margin: 20px;
    background-color: #d9cab7;
    padding: 20px;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    border-bottom: 1px solid #1E1E1E;
    padding-bottom: 5px;
    color: #007BFF;
    font-family: 'Roboto', sans-serif;
}

.a1 {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    display: inline;
    padding: 2px 5px;
    background-color: #9d8063;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.a1:hover {
    background-color: #555;
}

.a2 {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    display: inline;
    padding: 1px 2.5px;
    background-color: #e1c9a5;
    border-radius: 5px;
}


.a3 {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    display: inline;
    padding: 4px 10px;
    background-color: #d7af83;
    border-radius: 5px;
}

