<!-- your_app/templates/download.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Center</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Download Center</h1>
        <h2>📣: Limit is set to three downloads within one minute.</h2>
    </header>

    <main>
        <ul>
            {% for key, value in file_dict.items %}
                <li>
                    <a class="a1" href="{% url 'download_file' filename=key %}" download>download</a>
                    <a class="a2">{{ value }}</a>
                    <a class="a3">{{ key }}</a>
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
